/*Universal Styling*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}


/*Navigation*/
nav {
	max-height: 10vh;
	width: 100%;
	position: fixed; !important;
	text-align: center;
	font-size: 1.75vh;
	display: block;
	overflow: hidden;
	z-index: 2;
	background-color: white;
	font-weight: bold;
}

nav li {
	display: inline-block;
	padding: 10px 10px;
}

.nav-logo {
	margin-left: -1vw;
	margin-right: 1vw;
}

.right-nav {
	float: right;
	margin-left: 1vw;
	margin-right: 3vw;
}

.tuitt-button {
	color: white;
	background-color: #c2195b;
	border-radius: 16px;
	border:  1px none #c2195b;
	padding: 10px 20px;
	font-weight: bold;
}

/*Header*/
#bg-image {
	position: relative;
	top: 4rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center;
	height: 50vh;
	width: 100%;
	z-index: 1;
}

.front-bg {
	background-color: rgba(0, 0, 0, .5);
	height: 100%;
}

.container {
	color: white;
	margin-right: 10vw;
	width: 40vw;
	float: right;
}

.title {
	font-family: 'Zilla Slab';
	margin-bottom: 1vh;
	font-size: 5.5vh;
	text-align: right;
}

.subtitle {
	width: 30vw;
	margin-bottom: 1vh;
	font-size: 3.5vh;
	font-weight: lighter;
	text-align: right;
	float: right;
}

.apply-button {
	color: rgba(255, 255, 255, 1.0);
	background-color: #c2195b;
	border-radius: 16px;
	border:  1px none #c2195b;
	padding: 10px 40px;
	float: right;
	font-size: 1rem;
	font-weight: bold;
}

/*Sections*/
.intro {
	display: inline-block;
	position: relative;
	top: 5px;
	float: center;
	height: 25vh;
	width: 75%;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 14.5%;
	margin-right: 14.5%;
}

.title-2 {
	font-family: 'Zilla Slab';
	font-size: 5vh ;
	margin: 50px 75px;
	text-align: center;
	font-weight: bolder;
}

.intro-description {
	
}

/*Footer*/
.pre-footer {
	display: inline-block;
	position: relative;
	background-color: #f7fbfb;
	vertical-align: center;
	width: 100%;
	height: 50vh;
}

.pre-footer > h2 {
	margin-bottom: 50px;
	top: 25px;
	font-weight: bolder;
}

.prefooter-description {
	margin-left: 14.5%;
	margin-right: 14.5%;
	margin-bottom: 25px;
	text-align: center;
}

.book-button {
	margin-left: 45vw;
	margin-right: 40vw;
	background-color: #336589;
	border-radius: 16px;
	border: 1px none #336589;
	padding: 10px 40px;
	color: white;
	vertical-align: center;
	font-size: 2vh;
	font-weight: bolder;
}

footer {
	position: relative;
	display: inline-block;
	vertical-align: center;
	text-align: center;
	margin-left: 30vw;
}

span {
	padding: 20px 10px 0px;
}